SELENIUM_URL=http://127.0.0.1:4444/wd/hub
DOWNLOAD_ROOT=/srv/envato-drip-feed/library
STATE_DB=/srv/envato-drip-feed/state/state.sqlite3
DRIVE_REMOTE=merlino-drive:
DRIVE_ROOT=Media Library/Envato Licensed Stock
MAX_DOWNLOADS_PER_RUN=4
MAX_RUNTIME_MINUTES=50

